.container-button {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  position: relative;
}

.button {
  width: 180px;
  border: none;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0px 10px;
  border-radius: 5px;
  display: block;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.animation-button-slide-up {
  display: block;
  animation: slide-up 100ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slide-up {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0px);
  }
}
